* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
body {
  background-color: black;
  color: white;
  margin: 2rem auto;
}
.booklistclass {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.bookclass {
  width: auto;
  height: 100%;
  margin: 1rem auto;
  text-align: center;
}
p {
  margin: 0.4rem;
  color: rgb(90, 175, 255);
}
